@using StudentUp.Models
@{
    ViewBag.Title = "ChangeEmail";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Зміна email
}

@section Style
{}

<h2>EditEmail</h2>

<p>Тут ви зможете поміняти свій email. Спочатку вам на вашу поточний email прийде запит на підтвердження, а потім на новій email прийде такий же запит на підтвердження</p>

<form action="" method="POST" accept-charset="utf-8">
    <input type="text" name="newEmail" placeholder="Новий email"/>
    <input type="submit" name="changeEmail" value="Змінити email"/>
</form>

@{
    Messages messages = ViewData["messages"] as Messages;
    if (messages != null)
    {
        <p>@messages[0].Value</p>
    }
}

@section Script
{}
