@using StudentUp.Models
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Зміна паролю
}

@section Style
{}

<h2>Зміна паролю</h2>

<form action="/ChangePassword" method="POST" accept-charset="utf-8">
    <input type="password" name="currentPassword" placeholder="Current password"/>
    <input type="password" name="newPassword" placeholder="New password"/>
    <input type="password" name="replaceNewPassword" placeholder="Replace new password"/>
    <input type="submit" name="changePassword" value="Змінити пароль"/>
</form>

@{
    Messages messages = ViewData["messages"] as Messages;
    if (messages != null)
    {
        <p>@messages[0].Value</p>
    }
}

@section Script
{}
