@{
    ViewBag.Title = "Home";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Домашня сторінка
}

@section Style
{}

<h2>Домашня сторінка</h2>

@section Script
{}
