@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterPages/IndexMasterPage.cshtml";
}

@section Title{
    StudentUp
}

<form class="b-signIn" method="POST" action="/" accept-charset="utf-8">
    <input type="text" name="email" placeholder="Email" data-verification="notEmpty email"><br />
    <input type="password" name="password" placeholder="Пароль" data-verification="notEmpty password"><br />
    <input type="submit" name="singIn" value="Вхід">
</form>