@using StudentUp.Models

@{
    ViewBag.Title = "MyMark";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Мої оцінки
}

@section Style
{
    
}

@{
    int currentSubjectID = Convert.ToInt32(ViewData["currentSubject"]);
}

<form>
    <select name="subject">
        <option value='-1'>Усі</option>
        @{
            Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
            for (int i = 0, end = mySubjects.Length; i < end; i++)
            {
                <option value="@mySubjects[i].ID" @(currentSubjectID==mySubjects[i].ID?"selected":"")>@mySubjects[i].Name</option>
            }
        }
    </select>
    <select name="group">
    </select>
    <select name="student">
    </select>
    <input type="button" name="showMark" value="Показати оцінки"/>
</form>

<div class="myMark">
</div>

@section Script
{
    <script src="~/JS/jquery-2.1.1.min.js"></script>
    <script src="~/JS/MyMark.js"></script>
}
