@using StudentUp.Models

@{
    ViewBag.Title = "MySubject";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
StudentUp - Мої предмети
}

@section Style
{}

@{
    Users user = ViewData["user"] as Users;
    Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
    if (mySubjects != null && user != null)
    {
        <table border="1" cellspacing="0">
            <tr>
                @if (user.Type == Users.UserType.Student)
                {
                    <th>Викладач</th>
                }
                <th>Назва предмету</th>
                <th>Функції</th>
            </tr>
            @for (int i = 0, end = mySubjects.Length; i < end; i++)
            {
                <tr>
                    @if (user.Type == Users.UserType.Student)
                    {
                        Lecturer lecturer = new Lecturer(mySubjects[i].LecturerID);
                        lecturer.GetInformationAboutUserFromDB();
                        <td>@lecturer.FullName</td>
                    }
                    <td>@mySubjects[i].Name</td>
                    <td>
                        <a href="/MyMark?currentSubject=@mySubjects[i].ID">Подивитися оцінки</a> 
                        @if (user.Type == Users.UserType.Lecturer)
                        {
                            <a href="/AddMark?currentSubject=@mySubjects[i].ID">Виставити оцінку</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
    <h3>У вас покищо немає предметів</h3>
    }
}

@section Script
{}
