@using StudentUp.Models

@{
    ViewBag.Title = "MySubject";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - My subject
}

@section Style
{}

@{
    Users user = (Users)ViewData["user"];
    Subject[] mySubjects = user.GetMySubjects();
    for (int i = 0, end = mySubjects.Length; i < end; i++)
    {
        <p>
            @mySubjects[i].Name 
            @if (user.Type == Users.UserType.Student)
            {
                Lecturer lecturer = new Lecturer(mySubjects[i].LecturerID);
                lecturer.GetInformationAboutUserFromDB();
                @lecturer.FullName
            }
        </p>
    }
}

@section Script
{}
