@using StudentUp.Models

@{
    ViewBag.Title = "MySubject";
    Layout = "~/Views/MasterPages/HomeMasterPage.cshtml";
}

@section Title
{
    StudentUp - Мої предмети
}

@section Style
{}

@{
    Users user = ViewData["user"] as Users;
    Subject[] mySubjects = ViewData["mySubjects"] as Subject[];
    for (int i = 0, end = mySubjects.Length; i < end; i++)
    {
        <p>
            @mySubjects[i].Name 
            @if (user.Type == Users.UserType.Student)
            {
                Lecturer lecturer = new Lecturer(mySubjects[i].LecturerID);
                lecturer.GetInformationAboutUserFromDB();
                @lecturer.FullName
            }
        </p>
    }
}

@section Script
{}
