@using StudentUp.Models

@{
    ViewBag.Title = "RestorePassword";
    Layout = "~/Views/MasterPages/IndexMasterPage.cshtml";
}

@section Title{
    StudentUp - Відновленя паролю
}

@{
    Messages listMessages = ViewData["messages"] as Messages;
    if (listMessages == null || listMessages[0].Type != Messages.Message.TypeMessage.good)
    {
    <form class="b-signIn" method="POST" action="~/RestorePassword" accept-charset="utf-8">
        <input type="text" name="email" value="" placeholder="Email" data-verification="notEmpty email" />
        <input type="submit" name="restorePassword" value="Відновити пароль" />
    </form>
    }
}