@using StudentUp.Models

@{
    ViewBag.Title = "RestorePasswordUser";
    Layout = "~/Views/MasterPages/IndexMasterPage.cshtml";
}

@section Title{
    StudentUp - RestorePassword
}

@{
    Messages listMessages = (Messages)ViewData["messages"];
    if (listMessages == null || listMessages[0].Type != Messages.Message.TypeMessage.good)
    {
    <form class="b-signIn" method="POST" action="/RestorePasswordUser?idRestorePassword=@ViewData["id"]" accept-charset="utf-8">
        <input type="password" name="password" value="" placeholder="Пароль" data-verification="notEmpty password" />
        <input type="password" name="replacePassword" value="" placeholder="Повторите пароль" data-verification="notEmpty password replacePassword" />
        <input type="submit" name="restorePassword" value="Відновити пароль" />
    </form>
    }
}
