@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", true)</title>
    <link href="~/Images/icon.png" rel="shortcut icon" type="image/png" />
    <link href="~/CSS/all.css" rel="stylesheet" type="text/css">
    <link href="~/CSS/StyleIndexMasterPage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="b-all">
        <a href="/" class="logo">
            <span class="img"></span>
            <span class="name">StudentUp</span>
        </a>
        @RenderBody()
    </div>
</body>
<script type="text/ecmascript" src="~/JS/all.js"></script>
</html>
