@using StudentUp.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("Title", true)</title>
    <link href="~/Images/icon.png" rel="shortcut icon" type="image/png" />
    <link href="~/CSS/all.css" rel="stylesheet" type="text/css">
    <link href="~/CSS/StyleIndexMasterPage.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Validation.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="b-all">
        <a href="/" class="logo">
            <span class="img"></span>
            <span class="name">StudentUp</span>
        </a>
        @RenderBody()
        <div class="b-message">
            @{
                Messages listMessages = (Messages)ViewData["messages"];
                if (listMessages != null)
                {
                    foreach (Messages.Message item in listMessages)
                    {
                        <p class="@item.Type">@Html.Raw(item.Value)</p>
                    }
                }      
            }
        </div>
    </div>
</body>
<script type="text/ecmascript" src="~/JS/all.js"></script>
<script type="text/javascript" src="~/JS/Validation.js"></script>
<script type="text/javascript" src="~/JS/ScriptIndexMasterPage.js"></script>
</html>
